html {
    font-size: 14.7px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.mainScreen {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
    font-size: 17px;
}

a:visited {
    color: skyblue;
}

a:hover {
    opacity: .8;
}

#root {
    display: flex;
}

p {
    color: white;
}

.white {
    color: white;
}

.background-1 {
    background-image: linear-gradient(to top right, #15181f, #15261f);
    transition: background 1s;
}

.background-2 {
    background-image: linear-gradient(to top right, #15181f, #46dc3b);
    transition: background 1s;
}

.background-3 {
    background-image: linear-gradient(to top right, #15181f, #a7261f);
    transition: background 1s;
}

.text-center {
    text-align: center;
}

.justify-center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.scroll {
    opacity: 0.3;
    background-color: aqua;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
}

.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
}